[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = MeShootIn
  email = dmitriimishutin@gmail.com
[core]
  editor = C:/tools/neovim/nvim-win64/bin/nvim.exe
  autocrlf = false
  excludes = ~/.gitignore
  excludesfile = ~/.gitignore_global
[credential]
  helper = manager-core
[init]
  defaultBranch = main
[fetch]
  prune = true
[color]
  ui = true
[alias]
	lt = ls-tree --full-tree -r --name-only HEAD
  l = log --oneline --graph --decorate
	last = log --graph --decorate --pretty=fuller --stat -1 HEAD
  cg = config --global
	c = commit
  a = add
  p = push
	d = difftool --
  u = add --update
  smu = submodule update --init --recursive --remote
  sma = submodule add
  al = ! git config --global --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort
  aa = add -A
  cob = checkout -b
	s = status --ignored --short
	b = branch -a -v
	r = reset
  smum = submodule update --init --recursive --remote --merge
  pl = pull --recurse-submodules
  sw = switch
  clr = clone --recursive
  co = checkout
  cl = clone
  lns = log --name-status --oneline
  dns = diff --name-status
	perm = ls-tree --full-tree -r HEAD
	uns = restore --staged
	un = restore
	cm = commit -m
	lp = log --oneline --graph --decorate --pretty=fuller
	dc = difftool --cached --
	sw- = switch -
	brn = branch -m
	ac = "! git add -A; git commit"
	acm = "! git add -A; git commit -m"
[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[submodule]
  recurse = false
[status]
	short = false
