[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = MeShootIn
  email = dmitriimishutin@gmail.com
[core]
  editor = C:/tools/neovim/nvim-win64/bin/nvim.exe
  autocrlf = false
  excludes = ~/.gitignore
  excludesfile = ~/.gitignore_global
[credential]
  helper = manager-core
[init]
  defaultBranch = main
[fetch]
  prune = true
[status]
  short = true
[color]
  ui = true
[alias]
  lt = ls-tree --full-tree -r HEAD --name-only
  sti = status --branch --ignored
  l = log --oneline --graph --decorate
	last = l --stat -1 HEAD
  cg = config --global
  c = commit -m
  a = add
  tl = lt
  p = push
	d = difftool --cached
  u = add --update
	smu = submodule update --init --recursive
	sma = submodule add
	al = ! git config --global --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort
[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[submodule]
	recurse = true
