<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="alacritty" version="0.13.2" />
  <package id="alacritty.install" version="0.13.2" />
  <package id="bat" version="0.24.0" />
  <package id="chocolatey" version="2.2.2" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-font-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="discord" version="1.0.9005" />
  <package id="discord.install" version="1.0.9005" />
  <package id="fd" version="10.1.0" />
  <package id="fzf" version="0.52.1" />
  <package id="git" version="2.45.1" />
  <package id="git.install" version="2.45.1" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="keepassxc" version="2.7.8" />
  <package id="less" version="643.0" />
  <package id="lsd" version="1.1.2" />
  <package id="make" version="4.4.1" />
  <package id="mingw" version="13.2.0" />
  <package id="neovim" version="0.9.5" />
  <package id="netfx-4.7.2" version="4.7.2.0" />
  <package id="nvm" version="1.1.12" />
  <package id="nvm.install" version="1.1.12" />
  <package id="okular" version="23.8.4" />
  <package id="python" version="3.12.3" />
  <package id="python3" version="3.12.3" />
  <package id="python312" version="3.12.3" />
  <package id="ripgrep" version="14.1.0" />
  <package id="telegram" version="5.0.1" />
  <package id="telegram.install" version="5.0.1" />
  <package id="vcredist140" version="14.38.33135" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vkme" version="6.0.40.496" />
  <package id="winrar" version="7.1.0" />
  <package id="wireguard" version="0.5.3" />
  <package id="zoxide" version="0.9.2" />
</packages>